// Colors
$navy: #00001e;
$lightGray: #f5f5f5;
$danger: #dc3545;
$success: #28a745;
$info: #17a2b8;
$primary: #007bff;
$gray: #495057;
$border: rgba(0, 0, 0, 0.1);
$white: #fff;
$black: #111;
$gray: #565656;
$darkGray: #1d2a38;
$red: #ED1D24;
$green: rgb(84, 172, 48);
$blue: rgb(12, 96, 178);