@import 'styles/utils.scss';

.random-pokemon {
  background: $green url(../../shared/images/page-background.jpg) no-repeat bottom left;
  background-size: cover;
  min-height: calc(100vh - 80px);
  padding: 10px 0 40px;
  
}
