@import 'styles/utils.scss';

.homepage {
  background: $green url(../../shared/images/page-background.jpg) no-repeat bottom left;
  background-size: cover;
  min-height: calc(100vh - 80px);
  padding: 10px 0 40px;
  
  &__pokemon-cards {
    margin-bottom: 0px;

    @media screen and (min-width: 768px) {
      margin-bottom: 10px;
    }
  }

  &__button-wrapper {
    text-align: center;
  }

  &__generate-button {
    margin-right: 15px;
  }

  &__placeholder {
    margin-bottom: 30px;
    padding: 20px;
    min-height: 240px;
    font-size: 14px;
    text-align: center;
    cursor: default;
    pointer-events: none;
    background-color: $lightGray;

    @media screen and (min-width: 992px) {
      font-size: 15px;
    }
  }

  &__placeholder-name {
    text-transform: capitalize;
    text-align: center;
    font-size: 16px;

    @media screen and (min-width: 992px) {
      font-size: 20px;
    }
  }

  &__placeholder-image {
    width: 80px;
    margin: 20px auto;
  }
}
